@font-face {
    font-family: Collegium;
    font-weight: bold;
    src: url("Collegium.ttf");
}

body {
    background-color: #fff;
    color: #000;
}

.branding {
    background-color: #710000;
    color: #fff;
    width: 100%;
    top: 0px;
    border-bottom: 3px solid #000;
}

.statelogo {
    margin-left: -100px;
    border-right: 2px solid #fff;
}

.title {
    color: #000;
    font-size: 25px;
    display: inline;
    text-decoration: none;
}

a:hover.title {
    color: white;
}

a:hover {
    list-style: none;
    color: maroon;
}

a:active {
    color: #000;
}


/* a:visited {
    list-style: none;
} */

a:link {
    list-style: none;
    text-decoration: none;
}

.headername h1,
span {
    margin-left: -55px;
    margin-bottom: -13px;
    font-size: 45px;
    font-family: Collegium;
}

span {
    font-size: 35px;
}

.colophon {
    background-color: #710000;
    color: #fff;
    width: 100%;
    top: 0px;
}