body,
html {
    background-color: #fff;
    color: #000;
    padding: 0;
    background-image: url(../img/pattern.jpg);
}

@font-face {
    font-family: Collegium;
    font-weight: bold;
    src: url("Collegium.ttf");
}

.img-responsive {
    width: 50%;
    height: auto;
    margin-top: 10px;
    border: 2px solid #000;
}

.main-img {
    display: block;
    margin: 0 auto;
    /* margin-top: 50px; */
    padding: 1px;
}

h2 {
    text-align: center;
}

.branding {
    background-color: #710000;
    color: #fff;
    width: 100%;
    top: 0px;
    border-bottom: 3px solid #000;
}

.statelogo {
    margin-left: -100px;
    border-right: 2px solid #fff;
}

.title {
    margin-right: 7px;
    padding: 0px 3px;
    color: #fff;
    font-size: 25px;
    border-right: 2px solid #fff;
}

.headername h1,
span {
    margin-left: -55px;
    margin-bottom: -13px;
    font-size: 45px;
    font-family: Collegium;
}

span {
    font-size: 35px;
}

.links {
    margin-top: 60px;
}

a:hover.title {
    color: #000;
}

.guideTile-color {
    color: #000;
}

a:hover {
    list-style: none;
    color: #710000;
}

a:active {
    color: #000;
}

a:link {
    list-style: none;
    text-decoration: none;
}

.hero-wrapper {
    /* margin-top: 15px; */
    position: relative;
    height: 350px;
    overflow: hidden;
    background-image: url(/img/magnolia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 355px;
    border-top: 2px solid #000;
    box-shadow: 1px 7px #262826;
}

.picture-hero-wrapper {
    background-color: #000;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.407);
    width: 500px;
    height: auto;
    margin-top: 40px;
    border: 2px solid #710000;
}

.hero-edits {
    color: #fff;
}

ul li {
    padding-left: 0px;
    list-style: none;
}

.guideHeading {
    border-bottom: 2px solid #000;
}

.guideDesc {
    margin-bottom: 355px;
}

.about-wrapper {
    background-color: #fff;
    margin-bottom: 75px;
}

.footer-nav {
    background-color: #000;
    color: #fff;
    border-top: 3px solid #710000;
}

.colophon {
    background-color: #710000;
    border-top: 2px solid #fff;
    color: #fff;
    width: 100%;
}

.colophon ul li {
    padding-left: 0px;
    list-style: none;
    display: inline;
}