body,
html {
    padding: 0;
    background-image: url(../img/pattern.jpg);
    background-color: #fff;
    color: #000;
}

@font-face {
    src: url("Collegium.ttf");
    font-family: Collegium;
    font-weight: bold;
}

.img-responsive {
    width: 50%;
    height: auto;
    margin-top: 10px;
    border: 2px solid #000;
}

.main-img {
    display: block;
    margin: 0 auto;
    padding: 1px;
}

h2 {
    text-align: center;
}

.branding {
    top: 0px;
    width: 100%;
    background-color: #710000;
    color: #fff;
}

.statelogo {
    margin-left: -100px;
    border-right: 2px solid #fff;
}

.title {
    margin-right: 7px;
    padding: 0px 3px;
    border-right: 2px solid #fff;
    color: #fff;
}

a {
    color: #710000;
}

a:hover.title {
    color: #000;
}

a:hover {
    list-style: none;
    color: #000;
}

a:active {
    color: #000;
}

a:link {
    list-style: none;
    text-decoration: none;
}

.hero-wrapper {
    position: relative;
    height: 350px;
    overflow: hidden;
    border-top: 2px solid #000;
    box-shadow: 1px 7px #262826;
    background-image: url(/img/magnolia.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.picture-hero-wrapper {
    margin-top: 40px;
    border: 2px solid #710000;
    text-shadow: 1px 1px 1px #000;
    background-color: rgba(0, 0, 0, 0.407);
}

.hero-edits {
    color: #fff;
}

ul li {
    padding-left: 0px;
    list-style: none;
}

.news-section-wrapper {
    margin-bottom: 50px;
}

.msuStaff-img {
    width: 75%;
}

.guideHeading {
    border-bottom: 2px solid #000;
}

.other-sources {
    padding: 15px;
    text-align: center;
    background: #f0f0e1;
    border-radius: 10px;
}

.color-blue {
    color: #00a3a1;
    border-top: 3px solid #00a3a1;
}

.color-orange {
    color: #bf6518;
    border-top: 3px solid #bf6518;
}

.color-green {
    color: #00b22e;
    border-top: 3px solid #00b22e;
}

.color-maroon {
    color: #c24348;
    border-top: 3px solid #c24348;
}

.about-wrapper {
    margin-bottom: 75px;
}

.colophon {
    bottom: 0;
    width: 100%;
    background-color: #710000;
    color: #fff;
    border-top: 2px solid #fff;
    text-align: center;
}

.footer-nav {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #000;
    color: #fff;
    border-top: 3px solid #710000;
}


/* MEDIA QUERIES */


/* mobile */

@media (min-width: 320px) {
    .branding {
        border-top: 2px solid #000;
    }
    .headername h1,
    .span-header {
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: -4px;
        font-size: 17px;
    }
    .title {
        font-size: 20px;
    }
    .links {
        margin-top: 20px;
        text-align: center;
    }
    .picture-hero-wrapper {
        width: 100%;
        height: auto;
    }
    .news-section-wrapper {
        border-top: none;
    }
}


/* col-sm-* */

@media (min-width: 768px) {
    .statelogo {
        margin-left: -50px;
        border: none;
    }
    .headername h1,
    .span-header {
        margin-top: 41px;
        margin-bottom: -5px;
        font-size: 24px;
    }
    .title {
        font-size: 16px;
    }
    .links {
        margin-top: 90px;
        margin-right: 0px;
        text-align: center;
    }
    .picture-hero-wrapper {
        width: 75%;
        height: auto;
    }
    .news-section-wrapper {
        border-top: 2px solid #000;
    }
}

@media (min-width: 992px) {
    .branding {
        border-top: none;
    }
    .statelogo {
        margin-left: -18px;
        border-right: 2px solid #fff;
    }
    .headername h1,
    .span-header {
        margin-left: 26px;
        margin-top: 30px;
        margin-bottom: -5px;
        font-size: 30px;
    }
    .title {
        font-size: 22px;
    }
    .links {
        margin-top: 65px;
        margin-right: 0px;
        text-align: center;
    }
    .picture-hero-wrapper {
        width: 50%;
        height: auto;
    }
    .news-section-wrapper {
        border-top: 2px solid #000;
    }
}

@media (min-width: 1200px) {
    .branding {
        border-bottom: 3px solid #000;
    }
    .statelogo {
        margin-left: -100px;
        border-right: 2px solid #fff;
    }
    .headername h1,
    .span-header {
        margin-left: -55px;
        margin-bottom: -13px;
        font-family: Collegium;
        font-size: 40px;
    }
    .span-header {
        font-size: 35px;
    }
    .title {
        font-size: 25px;
    }
    .links {
        margin-top: 60px;
    }
    .picture-hero-wrapper {
        width: 35%;
        height: auto;
    }
    .news-section-wrapper {
        border-top: 2px solid #000;
    }
}